@page
@using TrainApp.Areas.Admin.Pages
@model DeleteTeamModel

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="ur-body">

    <div class="wrapper">
        <div class="login-box" style="border-color: #ffca2c !important;">
            <div class="login-header" style="background-color: #ffca2c">
                <span style="font-weight:600;">Usuń drużynę</span>
            </div>
            <p style="color: white">Czy jesteś pewnien, że chcesz usunąć tą drużynę?</p>
            <div>
                <p style="color: white"><strong>Nazwa:</strong>@Model.Team.TeamName</p>
                <p style="color: white"><strong>Miejsce treningów:</strong> @Model.Team.Address</p>
                <p style="color: white"><strong>Rocznik zawodników:</strong> @Model.Team.PlayersBirthYear</p>
            </div>

            <form method="post">
                <div class="input-box" style="display: flex; justify-items: center; flex-direction: column;">
                    <input type="hidden" name="Team.TeamId" value="@Model.Team.TeamId" />
                    <input type="submit" value="Usuń drużynę" class="btn btn-danger" />

                    <a href="/Admin/Teams" class="btn btn-warning mt-2">Powrót</a>
                </div>
            </form>
        </div>
</body>



