@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdź rejestrację";
}

<body class="login-page">
    <div class="wrapper">
        <div class="login-box">
            <div class="login-header">
                <span>@ViewData["Title"]</span>
            </div>
            <div class="row" style="min-width: 100%;">
                <div>
                    <p color="#ffca2c">
                        Sprawdź swój e-mail żeby potwierdzić rejestrację
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
