@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 14px;
}

:root {
    --light-gray: #E1EAE9;
    --gray: #B3BCBB;
    --brunswick-green: #364F3D;
    --light-green: #586D60;
    --green: #112C25;
    --beige: #A9AA96;
    --dark-green: #0A1A16;
    --yellow: #DAC061;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins';
}

.login-page {
    background-image: url("/images/login2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--dark-green);
}

    a:hover {
        text-decoration: underline;
        color: var(--yellow);
    }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 450px;
    margin: auto;
    margin: 20vh auto 5vh auto;
    padding-bottom: 20px;
}

.wrapper-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 450px;
    margin: auto;
    margin: 20vh auto 45vh auto;
    padding-bottom: 20px;
}
/*
.login-box {
    position: relative;
    max-width: 550px;
    width: 90%;
    backdrop-filter: blur(25px);
    border: 4px solid var(--light-gray);
    border-radius: 15px;
    margin-bottom: 15vh;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--dark-green);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}*/
.register-box {
    position: relative;
    max-width: 550px;
    width: 90%;
    backdrop-filter: blur(25px);
    border: 4px solid var(--light-gray);
    border-radius: 15px;
    margin-top: 30vh;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--dark-green);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Ustawienie nag��wka na �rodku */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    height: 60px; /* Sta�a wysoko�� nag��wka */
    border-radius: 0 0 20px 20px;
    padding: 0 10px; /* Dodajemy troch� przestrzeni na bokach */
    box-sizing: border-box;
    width: auto; /* Umo�liwia rozci�ganie nag��wka w poziomie */
    min-width: 200px; /* Minimalna szeroko�� nag��wka, �eby nie by� za ma�y */
}

    .login-header span {
        font-size: 30px;
        padding: 17px;
        color: var(--dark-green);
        white-space: nowrap; /* Zapobiega zawijaniu tekstu */
    }

.login-box {
    position: relative;
    max-width: 100%; /* Formularz teraz mo�e si� rozci�ga� */
    width: auto; /* Pozwalamy na dynamiczne rozszerzanie */
    min-width: 80%;
    backdrop-filter: blur(25px);
    border: 4px solid var(--light-gray);
    border-radius: 15px;
    margin-bottom: 15vh;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--dark-green);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .login-box form {
        width: 100%; /* Formularz b�dzie si� rozci�ga� w poziomie */
        max-width: 600px; /* Mo�emy ustawi� maksymaln� szeroko��, je�li to potrzebne */
    }

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%; /* Wysoko�� element�w wej�ciowych dostosowuje si� do szeroko�ci formularza */
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    box-sizing: border-box;
}

.input-submit {
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Przyciski b�d� mia�y szeroko�� formularza */
}

/*.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: #f9fafb47;
    color: var(--dark-green);
    padding-inline: 20px 50px;
    border: 2px solid var(--light-gray);
    border-radius: 30px;
    outline: none;
}*/

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    color: var(--dark-green);
    top: 17px;
    left: 20px;
    transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--light-gray);
    border-radius: 30px;
    color: var(--dark-green);
    padding: 0 10px;
}

.input-field:not(:placeholder-shown) ~ .label {
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--light-gray);
    border-radius: 30px;
    color: var(--dark-green);
    padding: 0 10px;
}


.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

/*.input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

    .input-submit:hover {
        background: transparent;
    }*/

.register {
    color: var(--yellow);
    text-align: center;
}

    .register a {
        font-weight: 500;
    }



@media only screen and (max-width: 1024px) {
    .wrapper {
        margin-top: 25vh;
        margin-bottom: 10vh;
    }
}

@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
        margin-top: 30vh;
        margin-bottom: 15vh;
    }

    .login-box {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}
/*footer{
    margin-top: 50px;
}*/
.container-m {
    margin-top: 50px;
}

.start-page {
    background: radial-gradient(#0f643f,#112C25 80%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
    width: 100rem;
    margin: 6rem;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .content .text {
        width: 100%;
        max-width: 600px;
    }

        .content .text h2 {
            color: #E1EAE9;
            font-size: 5em;
            font-weight: 300;
        }

        .content .text p {
            color: #b1d7c0;
            font-weight: 400;
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 20px 0;
        }

.buttonR {
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    background: #b1d7c0;
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
}

    .buttonR:hover {
        letter-spacing: 2px;
    }

.picture {
    height: 450px;
}

.picture-div {
    margin-left: 2rem;
}

.ur-body {
    margin: 0;
    background: linear-gradient(45deg, #0f643f, #112C25 80%);
    font-weight: 100;
}

.card-container {
    position: relative;
    margin: 20px auto;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90rem;
    border-collapse: collapse;
    overflow: hidden;
}

.card-title {
    font-weight: 600;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #ffca2c;
    background-color: #ffca2c;
    font-size: 20px;
}

.table-container {
    position: relative;
    margin: 20px auto;
    width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.table {
    width: 90rem;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 16px 24px !important;
    text-align: left;
    color: black;
    font-size: 1rem;
}

tr {
    font-weight: 400;
}

th {
    background-color: #2a2e37;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: black;
    border-bottom: 2px solid #3b3f49;
}

thead th {
    background-color: #a78b24;
}

tbody tr:hover {
    background-color: #B3BCBB;
}

td {
    position: relative;
    vertical-align: middle;
}

    td:hover::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }

.table th:last-child,
.table td:last-child {
    width: 18rem;
}

.role-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.role-text {
    font-size: 1rem;
    color: black;
    text-align: left;
    flex-grow: 1;
}

.edit-icon {
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    margin-left: 10px;
    transition: color 0.2s ease-in-out;
    text-align: right;
}

    .edit-icon:hover {
        color: #ffca2c;
    }

.edit-role-form {
    display: none;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    padding: 8px 12px;
    border: 1px solid #3b3f49;
    border-radius: 5px;
    background-color: #2a2e37;
    font-size: 0.9rem;
    color: #ffffff;
    transition: border-color 0.3s ease;
    flex-grow: 1;
}

    select:hover, select:focus {
        border-color: #007bff;
        outline: none;
    }

.buttonR-small {
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

    .buttonR-small:hover {
        background-color: #0056b3;
    }

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #ffca2c;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.team-details {
    color: #ffffff;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.subtitle {
    color: #fff;
}

.ur-body label {
    color: #f1f1f1;
    font-size: 16px;
}

.pending-players-list {
    font-size: 20px;
    color: #f0f0f0;
    padding: 10px;
}

    .pending-players-list li {
        margin: 5px 0;
    }


.calendar-container {
    max-width: 55%; /* Upewnia si�, �e kontener nie przekracza szeroko�ci ekranu */
    overflow-x: auto; /* Dodaje przewijanie w poziomie, je�li jest to konieczne */
    margin: 0 auto; /* Centruje kontener na stronie */
}

#calendar {
    width: 100%; /* Gwarantuje, �e kalendarz dopasuje si� do kontenera */
}

.remove-column {
    justify-content: center;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.back-button {
    margin-right: auto; /* Wypycha strza�k� do lewej strony */
}

.title {
    margin: 0 auto; /* Wy�rodkowuje tytu� */
    text-align: center;
}

.back-icon {
    font-size: 24px;
    color: #ffca2c;
}

select.form-control {
    appearance: auto; /* Przywraca domy�lny wygl�d */
    -webkit-appearance: auto; /* Dla przegl�darek WebKit */
    -moz-appearance: auto; /* Dla Firefoksa */
}

select:hover {
    border-color: #ffca2c
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ffca2c;
    border-color: #fff59e;
}

.nav-tabs .nav-link.active {
    color: black;
    background-color: #ffca2c;
    border-color: #ffca2c;
    font-weight: 600;
    font-size: 16px;
}

.nav-tabs {
    border-bottom: 1px solid #ffca2c;
    margin-bottom: 5px;
}

.nav-link:hover {
    color: white;
}

.nav-link {
    color: #ffca2c;
    font-size: 16px
}

.tab-content {
    background-color: white;
    border: 1px solid #ffca2c;
    border-radius: 10px;
    padding: 10px;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
}
